body {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin-top: 3rem;
}

article h2 {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.navbar {
    background-size: auto;
    border-top: 5px solid #3cb371;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active {
    color: #fff;
    text-decoration: underline;
}

.nav-link {
    color: #fff !important ;
}

.btn {
    font-size: 1em;
    color: #fff;
}

.btn-link {
    font-size: 1.2rem;
    color: #fff;
}

.btn-link.active,
.btn-link {
    color: #fff;
}

.content-table {
    font-size: 0.8rem;
}

.content-table h2 {
    font-size: 1rem;
}

.tco-table th {
    background-color: #B0B0B0;
}

.tco-table tr:nth-child(even) {
    background-color: #B0B0B0;
}

.tco-table tr:nth-child(odd) {
    background-color: #DDDDDD;
}

.tco-table {
    border-spacing: 0px;
    line-height: 1.2rem;
}

.tco-tbl-small {
    line-height: 0.9rem;
    margin: 1.2rem 0 1.2rem 0;
}

.tco-table td {
    padding: 5px 5px 5px 5px;

}

.tco-table th {
    padding: 8px 5px 8px 5px;
    font-weight: bold;
}

.euro {
    text-align: right;
}

.mittig {
    text-align: center;
}
#visitenkarten
{
	position:relative;
}
.visitenkarte
{
	float:left;
	width:200px;
	height:230px;
/*
	background-color:white;
*/
	font-size:0.8em;
	margin: 5px 10px 0 0;
	padding: 5px 5px 5px 5px; 
	line-height: 1em;
}
.visitenkarte img
{
	height:177px;
	border: 6px solid white;
}
.footer {
    width:100%;
    border-top: 5px solid #3cb371;
}

.scale-50-above-md {
    width: 100%;
    height: auto;
}
@media (min-width: 768px) { 
    .scale-50-above-md {
        width: 50%;
        height: auto;
    }
}

.cm-icon-container {
    display: inline-flex; /* Use flex to center the icon */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 40px; /* Width of the circle */
    height: 40px; /* Height of the circle, should be equal to width */
    padding: 5px; /* Adjust padding as needed */
    background-color: white;
    border: 0.15em solid black;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    margin: -3em 0 0 -0.2em;
    transition: background-color 0.2s; /* Smooth transition for background color */
}

.icon-container:active {
    background-color: grey !important; /* Grey background when active (clicked) */
}

.cm-icon-container .bi-arrow-left-right {
    font-size: 1em; /* Adjust icon size */
}

.modal-body {
    height: 100%;
}

.cm-modal-close, .cm-modal-close:hover, .cm-modal-close.active {
    background-color: #fff;
    border-color: #fff;
}


.form-control {
    height:300px;
}